Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

Consolidate Skaffold configurations into single file
  scripts/deploy.sh
  skaffold.yaml
Owners: @webapp-team, @devops-team

Remove old skaffold files after successful unified config test
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Reorganize deployment files into structured directories
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  deploy/clouddeploy/dev.yaml
  deploy/clouddeploy/preview.yaml
  deploy/clouddeploy/qa-prod.yaml
  deploy/skaffold.yaml
  scripts/deploy.sh
Owners: @webapp-team, @devops-team

Fix relative paths in skaffold.yaml after moving to deploy/
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

Reorganize deployment files into structured directories
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  deploy/clouddeploy/dev.yaml
  deploy/clouddeploy/preview.yaml
  deploy/clouddeploy/qa-prod.yaml
  deploy/skaffold.yaml
  scripts/deploy.sh
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team, @devops-team

Replace deploy.sh with compliance-cli
  scripts/deploy.sh
Owners: @webapp-team

Test config-based compliance-cli v0.3.0
  .compliance-cli.yaml
  app.js
Owners: @webapp-team

Force compliance-cli v0.3.0 and fix wrapper script reference
  app.js
  scripts/deploy.sh
Owners: @webapp-team

Update to compliance-cli v0.3.1 with cert description fix
  scripts/deploy.sh
Owners: @webapp-team

feat: Parameterize app name in Kubernetes manifests
  deploy/clouddeploy/dev.yaml
  deploy/clouddeploy/preview.yaml
  deploy/clouddeploy/qa-prod.yaml
  k8s/app/base/deployment.yaml
  k8s/app/base/httproute.yaml
  k8s/app/base/network-policy.yaml
  k8s/app/base/pod-disruption-budget.yaml
  k8s/app/base/service.yaml
  k8s/app/resources/prod/horizontal-pod-autoscaler.yaml
  k8s/namespace/namespace.yaml
Owners: @webapp-team, @platform-team, @security-team

chore: Update compliance-cli to v0.3.2 for APP_NAME parameter support
  scripts/deploy.sh
Owners: @webapp-team

chore: Update compliance-cli to v0.3.3 with fixed tar structure
  scripts/deploy.sh
Owners: @webapp-team

Parameterize app name in Kubernetes manifests (#176)
  deploy/clouddeploy/dev.yaml
  deploy/clouddeploy/preview.yaml
  deploy/clouddeploy/qa-prod.yaml
  k8s/app/base/deployment.yaml
  k8s/app/base/httproute.yaml
  k8s/app/base/network-policy.yaml
  k8s/app/base/pod-disruption-budget.yaml
  k8s/app/base/service.yaml
  k8s/app/resources/prod/horizontal-pod-autoscaler.yaml
  k8s/namespace/namespace.yaml
  scripts/deploy.sh
Owners: @webapp-team, @platform-team, @security-team

chore: Update compliance-cli to v0.3.4 for QA parameter support
  scripts/deploy.sh
Owners: @webapp-team

chore: Update compliance-cli to v0.3.5 for QA impersonation fix
  scripts/deploy.sh
Owners: @webapp-team

chore: Update compliance-cli to v0.3.6 for QA parameter fix
  scripts/deploy.sh
Owners: @webapp-team

chore: Update compliance-cli to v0.3.7 for QA APP_NAME fix
  scripts/deploy.sh
Owners: @webapp-team

fix: Remove static deployParameters from preview pipeline
  deploy/clouddeploy/preview.yaml
Owners: @webapp-team

test: Verify preview deployments work
  README.md
Owners: @webapp-team

chore: Update compliance-cli to v0.3.8 for certificate fix
  scripts/deploy.sh
Owners: @webapp-team

fix: Restore modular Skaffold configuration for preview
  deploy/skaffold-preview-modules.yaml
  deploy/skaffold.yaml
  trigger.yaml
Owners: @webapp-team, @devops-team

fix: Remove invalid requires syntax from preview profile
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

refactor: Use deploy parameters from compliance-cli for all environments
  deploy/clouddeploy/dev.yaml
  deploy/clouddeploy/qa-prod.yaml
  scripts/deploy.sh
Owners: @webapp-team

fix: Revert QA parameter changes due to multi-stage pipeline constraints
  deploy/clouddeploy/qa-prod.yaml
  scripts/deploy.sh
Owners: @webapp-team

feat: Add pipeline generation and validation
  .github/workflows/validate-pipelines.yaml
  .gitignore
  Makefile
  cloudbuild/validate-pipelines.yaml
Owners: @devops-team, @security-team, @webapp-team

chore: Add generated file headers to pipeline configurations
  deploy/clouddeploy/dev.yaml
  deploy/clouddeploy/preview.yaml
  deploy/clouddeploy/qa-prod.yaml
Owners: @webapp-team

chore: Clean up legacy documentation and unused scripts
  README.md
  docs/unified-deploy-script.md
  scripts/cleanup-preview-pr.sh
  scripts/cleanup-previews.sh
  scripts/deploy-prod-params.txt
  scripts/post-pr-comment.sh
  scripts/promote-to-prod.sh
  scripts/setup-approvers.sh
  scripts/setup-github-wif.sh
  scripts/slack-notification.sh
  scripts/test-developer-permissions.sh
  scripts/test-preview-deployment.sh
Owners: @webapp-team

fix: Improve PR comment error handling and debugging
  scripts/get-pr-number.sh
  scripts/post-pr-comment-app.sh
Owners: @webapp-team

chore: Remove redundant files and outdated documentation
  DEPLOYMENT.md
  DEPLOYMENT_GUIDE.md
  DEVELOPER_DEPLOYMENT_TEST_GUIDE.md
  STAGE_DEPLOYMENT_GUIDE.md
  TRIGGER_TEST.md
  pipeline-export.yaml
  test-preview.md
  trigger.yaml
Owners: @webapp-team

refactor: Replace deploy.sh with minimal compliance-cli wrapper
  Makefile
  README.md
  compliance-cli
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  docs/deployment-guide.md
  docs/github-actions-setup.md
  docs/preview-deployments.md
  docs/unified-deploy-script.md
  scripts/deploy.sh
Owners: @webapp-team

refactor: Simplify compliance-cli wrapper using curl strategy
  compliance-cli
Owners: @webapp-team

test: Verify compliance-cli deployment integration
  README.md
Owners: @webapp-team

fix: Remove 'deploy' command from compliance-cli calls
  README.md
  compliance-cli
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

fix: Remove 'deploy' command from compliance-cli calls
  README.md
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  docs/deployment-guide.md
  docs/github-actions-setup.md
  docs/preview-deployments.md
  docs/unified-deploy-script.md
Owners: @webapp-team

fix: Remove 'deploy' command from compliance-cli calls (#184)
  README.md
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  docs/deployment-guide.md
  docs/github-actions-setup.md
  docs/preview-deployments.md
  docs/unified-deploy-script.md
Owners: @webapp-team

feat: Use compliance-cli for PR number extraction
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

feat: Update to compliance-cli v0.6.0 with PR commands
  compliance-cli
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

feat: Update to compliance-cli v0.6.0 with PR commands (#186)
  compliance-cli
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

chore: Remove obsolete get-pr-number.sh script
  scripts/get-pr-number.sh
Owners: @webapp-team

chore: Remove obsolete get-pr-number.sh script (#187)
  scripts/get-pr-number.sh
Owners: @webapp-team
