Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

chore: Update to compliance-cli v0.7.0 and remove shell scripts
  compliance-cli
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  scripts/github-app-token.sh
  scripts/post-pr-comment-app.sh
  scripts/slack-notification-env.sh
Owners: @webapp-team

docs: Add PR requirements and contributing guidelines
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Owners: @webapp-team

fix: Revert Cloud Build files to .yaml extension
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

chore: Clean up repository organization
  .github/workflows/archive/cd-deploy.yml
  .github/workflows/archive/cd-promote.yml
  .github/workflows/archive/deploy-qa-prod.yml
  .github/workflows/archive/production-promotion.yml
  .github/workflows/deploy-dev.yaml.disabled
  .github/workflows/deploy-preview.yaml.disabled
  deploy/cloudbuild/dev.yml
  deploy/cloudbuild/preview.yml
  deploy/cloudbuild/qa.yml
Owners: @devops-team, @security-team, @webapp-team

fix: Keep Cloud Build files with .yml extension for trigger compatibility
  deploy/cloudbuild/dev.yml
  deploy/cloudbuild/preview.yml
  deploy/cloudbuild/qa.yml
Owners: @webapp-team

Revert "fix: Keep Cloud Build files with .yml extension for trigger compatibility"
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

docs: Add comprehensive deployment management instructions to CLAUDE.md
  CLAUDE.md
Owners: @webapp-team

docs: Add PR requirements and contributing guidelines (#188)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

fix: Rename skaffold.yml to skaffold.yaml for compliance-cli compatibility
  CLAUDE.md
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

fix: Rename skaffold.yml to skaffold.yaml for compliance-cli compatibility
  CLAUDE.md
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

fix: Rename skaffold.yml to skaffold.yaml for compliance-cli compatibility (#189)
  CLAUDE.md
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

fix: Correct production domain from .com to .dev
  deploy/clouddeploy/qa-prod.yml
Owners: @webapp-team

docs: Fix production domain references from .dev to .com
  CLAUDE.md
Owners: @webapp-team

docs: Fix production domain references from .dev to .com (#190)
  CLAUDE.md
Owners: @webapp-team

feat: Add Cloud Build configs for preview cleanup
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
Owners: @webapp-team

test: Add test file for preview cleanup verification
  .github/workflows/archive/cd-dev.yml
  .github/workflows/archive/cd-prod-promote.yml
  .github/workflows/archive/cd-qa.yml
  .github/workflows/archive/cd-status.yml
  .github/workflows/archive/ci-compliance.yml
  .github/workflows/archive/cleanup-old-previews.yml
  .github/workflows/archive/validate-pipelines.yml
  test-cleanup.txt
Owners: @devops-team, @security-team, @webapp-team

fix: Update preview-destroy to check PR state via GitHub API
  deploy/cloudbuild/preview-destroy.yaml
Owners: @webapp-team

fix: Add preview cleanup on PR close (#193)
  .github/workflows/archive/cd-dev.yml
  .github/workflows/archive/cd-prod-promote.yml
  .github/workflows/archive/cd-qa.yml
  .github/workflows/archive/cd-status.yml
  .github/workflows/archive/ci-compliance.yml
  .github/workflows/archive/cleanup-old-previews.yml
  .github/workflows/archive/validate-pipelines.yml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  test-cleanup.txt
Owners: @devops-team, @security-team, @webapp-team

test: Webhook PR cleanup
  test-webhook.txt
Owners: @webapp-team

test: PR cleanup trigger
  test-cleanup-trigger.txt
Owners: @webapp-team

Test: PR cleanup trigger (#195)
  test-cleanup-trigger.txt
  test-webhook.txt
Owners: @webapp-team

test: Full preview lifecycle test
  test-preview-lifecycle.txt
Owners: @webapp-team

test: Full preview lifecycle test (#196)
  test-preview-lifecycle.txt
Owners: @webapp-team

test: Preview cleanup v2
  test-cleanup-v2.txt
Owners: @webapp-team

test: Preview cleanup v2 (#197)
  test-cleanup-v2.txt
Owners: @webapp-team

test: Final preview cleanup test
  test-cleanup-final.txt
Owners: @webapp-team

test: Final preview cleanup test (#198)
  test-cleanup-final.txt
Owners: @webapp-team

test: Verify preview cleanup consistency
  test-cleanup-verify.txt
Owners: @webapp-team

test: Verify preview cleanup consistency
  test-cleanup-verify.txt
Owners: @webapp-team

test: Update app version for deployment pipeline verification
  app.js
Owners: @webapp-team

fix: Separate certificate deployment to prevent timeout failures
  deploy/skaffold-with-certs.yaml
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

fix: Include certificates with tolerant status checking
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

chore: Remove unused skaffold-with-certs.yaml
  deploy/skaffold-with-certs.yaml
Owners: @webapp-team

fix: Prevent preview deployment failures due to certificate timeout
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

fix: Add namespace creation to dev, qa, and prod profiles
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

chore: Remove all transitional and historical artifacts
  README.md
  deploy/skaffold-preview-modules.yml
  deploy/skaffold.yaml
  docs/archive/deployment-validation-troubleshooting.md
  docs/archive/k8s-consolidation-plan.md
  docs/archive/load-balancer-fixes.md
  docs/archive/manual-fixes-needed.md
  docs/archive/preview-test.md
  docs/archive/split-module-architecture.md
  docs/archive/test-github-actions.md
  test-cleanup-final.txt
  test-cleanup-trigger.txt
  test-cleanup-v2.txt
  test-cleanup-verify.txt
  test-cleanup.txt
  test-preview-lifecycle.txt
  test-webhook.txt
Owners: @webapp-team, @devops-team

chore: Remove obsolete GitHub workflows and fix typo
  .github/workflows/README.md
  .github/workflows/archive/cd-deploy.yml
  .github/workflows/archive/cd-dev.yml
  .github/workflows/archive/cd-prod-promote.yml
  .github/workflows/archive/cd-promote.yml
  .github/workflows/archive/cd-qa.yml
  .github/workflows/archive/cd-status.yml
  .github/workflows/archive/ci-compliance.yml
  .github/workflows/archive/cleanup-old-previews.yml
  .github/workflows/archive/deploy-qa-prod.yml
  .github/workflows/archive/production-promotion.yml
  .github/workflows/archive/validate-pipelines.yml
  .github/workflows/deploy-dev.yaml.disabled
  .github/workflows/deploy-preview.yaml.disabled
  deploy/cloudbuild/preview-destroy.yaml
Owners: @webapp-team, @devops-team, @security-team

feat: Use pre-built compliance-cli image in CloudBuild and Makefile
  Makefile
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

test: Full deployment pipeline test v7.2
  app.js
Owners: @webapp-team

test: Full deployment pipeline test v7.2 (#203)
  app.js
Owners: @webapp-team
