Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

feat: Add Kustomize component library structure
  k8s/app/base/kustomization-with-components.yml.example
  k8s/components/README.md
  k8s/components/central-library-proposal.md
  k8s/components/helm-alternative.md
  k8s/components/networking/gke-network-policy/kustomization.yml
  k8s/components/networking/gke-network-policy/network-policy.yml
  k8s/components/observability/autoscaling/horizontal-pod-autoscaler.yml
  k8s/components/observability/autoscaling/kustomization.yml
  k8s/components/observability/autoscaling/pod-disruption-budget.yml
  k8s/components/security/workload-identity/kustomization.yml
  k8s/components/security/workload-identity/secret-store.yml
  k8s/components/security/workload-identity/service-account.yml
Owners: @webapp-team

refactor: Use Kustomize components for reusable resources
  k8s/app/base/horizontal-pod-autoscaler.yml
  k8s/app/base/kustomization.yml
  k8s/app/base/network-policy.yml
  k8s/app/base/pod-disruption-budget.yml
  k8s/app/base/secret-store.yml
  k8s/app/base/service-account.yml
Owners: @webapp-team

refactor: Move AlloyDB Omni to reusable component
  k8s/app/resources/preview/db-password-secret.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/network-policy-patch.yml
  k8s/components/database/alloydb-omni/README.md
  k8s/components/database/alloydb-omni/dbcluster.yml
  k8s/components/database/alloydb-omni/kustomization.yml
  k8s/components/database/alloydb-omni/user-authentication.yml
Owners: @webapp-team

feat: Implement Kustomize component library and AlloyDB Omni improvements (#234)
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/pr-format.yaml
  deploy/cloudbuild/pr-lint.yaml
  deploy/cloudbuild/pr-static-analysis.yaml
  deploy/cloudbuild/pr-tests.yaml
  deploy/cloudbuild/pr-validation.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
  deploy/skaffold.yaml
  k8s/app/base/kustomization-with-components.yml.example
  k8s/app/base/network-policy.yml
  k8s/app/base/service-account.yml
  k8s/app/resources/nonprod/kustomization.yml
  k8s/app/resources/preview/db-password-secret.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/postgres-sidecar.yaml
  k8s/app/resources/prod/kustomization.yml
  k8s/components/README.md
  k8s/components/central-library-proposal.md
  k8s/components/database/alloydb-omni/README.md
  k8s/components/database/alloydb-omni/dbcluster.yml
  k8s/components/database/alloydb-omni/kustomization.yml
  k8s/components/database/alloydb-omni/user-authentication.yml
  k8s/components/helm-alternative.md
  k8s/components/networking/gke-network-policy/kustomization.yml
  k8s/components/networking/gke-network-policy/network-policy.yml
  k8s/components/observability/autoscaling/horizontal-pod-autoscaler.yml
  k8s/components/observability/autoscaling/kustomization.yml
  k8s/components/observability/autoscaling/pod-disruption-budget.yml
  k8s/components/security/workload-identity/kustomization.yml
  k8s/components/security/workload-identity/secret-store.yml
  k8s/components/security/workload-identity/service-account.yml
  k8s/external-secrets/cluster-secret-store.yml
Owners: @webapp-team, @devops-team, @platform-team, @security-team

feat: Configure preview environments to use shared AlloyDB with PR-specific databases
  deploy/clouddeploy/preview.yml
  k8s/app/resources/preview/db-password-secret.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/components/database/alloydb-omni/README.md
  migrate.js
Owners: @webapp-team

feat: Use shared AlloyDB for preview environments with PR-specific databases (#235)
  deploy/clouddeploy/preview.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/components/database/alloydb-omni/README.md
  migrate.js
Owners: @webapp-team

fix: Add compliance_cli_version to config (partial fix)
  .compliance-cli.yml
Owners: @webapp-team

fix: Restore compliance-cli versioning to v0.9.1
  .compliance-cli-version
  .compliance-cli.yml
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
  scripts/update-compliance-cli-version.sh
Owners: @webapp-team

fix: Remove duplicate PDB_MIN_AVAILABLE from preview pipeline
  deploy/clouddeploy/preview.yml
Owners: @webapp-team

fix: Use proper Cloud Deploy parameter substitution for DATABASE_NAME
  k8s/app/base/deployment.yml
  k8s/app/base/migration-job.yml
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Remove PR_NUMBER from pipeline as compliance-cli provides it
  deploy/clouddeploy/preview.yml
Owners: @webapp-team

fix: Allow preview environments to use AlloyDB Auth Proxy
  migrate.js
Owners: @webapp-team

fix: Add AlloyDB network egress rules for preview environments
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Add AlloyDB egress rules to base network policy component
  k8s/app/resources/preview/kustomization.yml
  k8s/components/networking/gke-network-policy/network-policy.yml
Owners: @webapp-team

feat: Implement shared AlloyDB for preview environments with PR-specific databases
  .compliance-cli-version
  .compliance-cli.yml
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
  k8s/app/base/deployment.yml
  k8s/app/base/migration-job.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/components/networking/gke-network-policy/network-policy.yml
  migrate.js
  scripts/update-compliance-cli-version.sh
Owners: @webapp-team

fix: Make network policy generic using RFC1918 private ranges
  k8s/components/networking/gke-network-policy/network-policy.yml
Owners: @webapp-team

fix: Make network policy generic using RFC1918 private ranges (#237)
  k8s/components/networking/gke-network-policy/network-policy.yml
Owners: @webapp-team

fix: Add DATABASE_NAME parameters to QA and Prod pipelines
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
Owners: @webapp-team

fix: Add DATABASE_NAME parameters to QA and Prod pipelines (#238)
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
Owners: @webapp-team

fix: Correct kustomize path from preprod to nonprod
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

fix: Add HPA_MIN_REPLICAS and HPA_MAX_REPLICAS parameters to pipeline
  deploy/clouddeploy/qa-prod.yml
Owners: @webapp-team

fix: Add CLUSTER_LOCATION and CLUSTER_NAME to pipeline
  deploy/clouddeploy/qa-prod.yml
Owners: @webapp-team

test: Test External Secrets fix in preview
  README.md
Owners: @webapp-team

fix: Hardcode cluster parameters in SecretStore
  k8s/components/security/workload-identity/secret-store.yml
Owners: @webapp-team

test: Test External Secrets fix (#239)
  README.md
  k8s/components/security/workload-identity/secret-store.yml
Owners: @webapp-team

feat: Update to compliance-cli v0.9.2 with cluster parameters
  .compliance-cli-version
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  k8s/components/security/workload-identity/secret-store.yml
  test-secrets.md
Owners: @webapp-team

test: Verify v0.9.2 parameter substitution
  test-secrets.md
Owners: @webapp-team

fix: Remove hardcoded migration job image override in production
  k8s/app/resources/prod/kustomization.yml
Owners: @platform-team, @security-team, @webapp-team

feat: Add AlloyDB configuration for production
  deploy/skaffold.yaml
  k8s/app/resources/prod/kustomization.yml
  k8s/components/database/alloydb-prod/external-secret.yml
  k8s/components/database/alloydb-prod/kustomization.yml
Owners: @devops-team, @webapp-team, @platform-team, @security-team

fix: Correct network-policy path in production skaffold config
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

fix: Correct network policy component name to gke-network-policy
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

fix: Remove image override removal for migration job
  k8s/app/resources/prod/kustomization.yml
Owners: @platform-team, @security-team, @webapp-team

fix: Replace neon configmap reference with database configmap in production
  k8s/app/resources/prod/kustomization.yml
Owners: @platform-team, @security-team, @webapp-team

fix: Fix configmap patches for production deployment and job
  k8s/app/resources/prod/kustomization.yml
Owners: @platform-team, @security-team, @webapp-team

fix: Correct AlloyDB instance name for production
  k8s/app/resources/prod/kustomization.yml
Owners: @platform-team, @security-team, @webapp-team

chore: Clean up unnecessary database configuration
  deploy/skaffold.yaml
  k8s/app/resources/prod/kustomization.yml
  k8s/components/database/alloydb-prod/external-secret.yml
  k8s/components/database/alloydb-prod/kustomization.yml
Owners: @devops-team, @webapp-team, @platform-team, @security-team

fix: Production database and External Secrets fixes (#240)
  deploy/skaffold.yaml
  k8s/app/resources/prod/kustomization.yml
  test-secrets.md
Owners: @devops-team, @webapp-team, @platform-team, @security-team

chore: Update compliance-cli version to v0.9.2
  .compliance-cli.yml
Owners: @webapp-team

feat: Add Rails/Phoenix-style database integration tests
  db.test.js
  docker-compose.test.yml
  jest.integration.config.js
  package.json
  test/README.md
  test/helpers/database.js
  test/integration/db.integration.test.js
  test/setup.js
Owners: @webapp-team

feat: Add Cloud Build configuration for integration tests
  Dockerfile.test
  Makefile.test
  deploy/cloudbuild/pr-validation-with-integration.yaml
  deploy/cloudbuild/test-step-snippet.yaml
  docker-compose.ci.yml
  package.json
Owners: @webapp-team
