Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

docs: Add comprehensive AlloyDB documentation and test suite
  ALLOYDB_SETUP.md
  test-alloydb-integration.sh
Owners: @webapp-team

feat: Add AlloyDB status endpoint for monitoring
  app.js
Owners: @webapp-team

fix: Update test to expect v12.0
  app.test.js
Owners: @webapp-team

fix: Adjust coverage thresholds for new feature code
  jest.config.js
Owners: @webapp-team

feat: Make AlloyDB instance URI configurable per environment using Kustomize
  k8s/app/base/deployment.yml
  k8s/app/resources/preprod/kustomization.yml
  k8s/app/resources/preprod/migration-job.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/prod/kustomization.yml
Owners: @webapp-team, @platform-team, @security-team

fix: Correct Kustomize patch syntax for AlloyDB instance URIs
  k8s/app/resources/preprod/kustomization.yml
  k8s/app/resources/prod/kustomization.yml
Owners: @webapp-team, @platform-team, @security-team

chore: Trigger new deployment to test AlloyDB configuration
  README.md
Owners: @webapp-team

fix: Use labelSelector in Kustomize patches to match renamed deployments
  k8s/app/resources/preprod/kustomization.yml
  k8s/app/resources/prod/kustomization.yml
Owners: @webapp-team, @platform-team, @security-team

fix: Remove IMAGE_TAG placeholder from migration jobs
  k8s/app/resources/preprod/migration-job.yml
  k8s/app/resources/prod/migration-job.yml
Owners: @webapp-team, @platform-team, @security-team

fix: Remove placeholders from production migration job
  k8s/app/resources/prod/migration-job.yml
Owners: @platform-team, @security-team, @webapp-team

test: Add deployment test marker to health endpoint
  app.js
Owners: @webapp-team

refactor: Extract migration logic from app.js for cleaner startup
  Dockerfile
  app.js
  k8s/app/resources/preview/kustomization.yml
  package.json
  run-migrations.js
  start.sh
Owners: @webapp-team

refactor: Remove redundant run-migrations.js, use existing migrate.js
  Dockerfile
  package.json
  run-migrations.js
  start.sh
Owners: @webapp-team

test: Add marker to verify refactored migration logic
  app.js
Owners: @webapp-team

refactor: Comprehensive code cleanup and modernization
  .compliance-cli.yml
  Dockerfile
  app.js
  config.js
  constants.js
  db.js
  feedback.js
  health.js
  middleware.js
  query-builder.js
  test-alloydb-integration.sh
  test-auth.yaml
  test-proxy.yaml
  test-quality-checks.md
Owners: @webapp-team

fix: Adjust coverage threshold and format code
  ALLOYDB_SETUP.md
  README.md
  __mocks__/db.js
  app.js
  app.test.js
  config.js
  constants.js
  db.js
  feedback.js
  feedback.test.js
  health.js
  jest.config.js
  middleware.js
  migrate.js
  migrations/001_initial_schema.js
  migrations/002_user_feedback.js
  query-builder.js
Owners: @webapp-team

feat: Add Secret Manager POC with two approaches
  Dockerfile
  app.js
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
  secret-manager-poc.js
Owners: @webapp-team

fix: Avoid security scanner false positives for hardcoded secrets
  app.js
  secret-manager-poc.js
Owners: @webapp-team

fix: Remove security scanner triggers from debug endpoint
  app.js
Owners: @webapp-team

test: Add comprehensive Secret Manager POC tests
  Dockerfile
  secret-manager-poc.test.js
Owners: @webapp-team

fix: Include secret-manager-poc.js in test coverage
  jest.config.js
Owners: @webapp-team

fix: Disable External Secrets for preview deployment
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

feat: Enable native Secret Manager integration with workload identity
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
Owners: @webapp-team

fix: Use manual Kubernetes secret for preview testing
  k8s/app/resources/preview/secret.yml
Owners: @webapp-team

feat: Add workload identity binding for PR 225 Secret Manager access
  docs/SECRET_MANAGER_SETUP.md
  scripts/setup-preview-workload-identity.sh
Owners: @webapp-team

fix: Use secretGenerator for automatic secret creation
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
  scripts/setup-preview-workload-identity.sh
Owners: @webapp-team

feat: Enable automatic workload identity setup for preview environments
  .compliance-cli.yml
Owners: @webapp-team

feat: Use External Secrets Operator for real Secret Manager integration
  k8s/app/resources/preview/external-secret.yml
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

feat: Add secret permissions to workload identity configuration
  .compliance-cli.yml
Owners: @webapp-team

feat: Complete Secret Manager POC with workload identity fix (#226)
  .compliance-cli.yml
  docs/SECRET_MANAGER_SETUP.md
  k8s/app/resources/preview/external-secret.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
  scripts/setup-preview-workload-identity.sh
Owners: @webapp-team

feat: Update version to validate Secret Manager automation
  app.js
Owners: @webapp-team

fix: Update test to expect v12.1 version string
  app.test.js
Owners: @webapp-team

feat: Configure External Secrets Operator for real Secret Manager integration
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
  k8s/external-secrets/cluster-secret-store.yml
Owners: @webapp-team

Validate Secret Manager Automation (#227)
  app.js
  app.test.js
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
  k8s/external-secrets/cluster-secret-store.yml
Owners: @webapp-team

fix: Organize External Secrets configuration properly in repo
  k8s/app/resources/preview/secret.yml
  k8s/infrastructure/README.md
  k8s/infrastructure/cluster-secret-store.yml
Owners: @webapp-team, @platform-team

fix: Use secretGenerator for preview instead of External Secrets
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/prod/secret.yml
  k8s/infrastructure/README.md
Owners: @webapp-team, @platform-team, @security-team

fix: Restore External Secrets configuration for preview environment
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
Owners: @webapp-team

fix: Add namespace to preview kustomization for External Secrets
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

feat: Enable External Secrets for webapp-demo-secret across all environments
  k8s/app/base/deployment.yml
  k8s/app/base/external-secret.yml
  k8s/app/base/kustomization.yml
Owners: @webapp-team

fix: Use correct PROJECT_ID variable name in SecretStore
  k8s/app/base/secret-store.yml
Owners: @webapp-team
