Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

Add comprehensive deployment guide
  DEPLOYMENT_GUIDE.md
Owners: @webapp-team

Add compliance-focused issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/production-deployment.yml
  .github/ISSUE_TEMPLATE/security_issue.yml
Owners: @webapp-team

Add compliance-focused issue templates for SOC 2 Type II controls
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/production-deployment.yml
  .github/ISSUE_TEMPLATE/security_issue.yml
Owners: @webapp-team

Test GitOps compliance pipeline
  README.md
Owners: @webapp-team

Test GitOps compliance pipeline
  README.md
Owners: @webapp-team

Separate infrastructure from application code
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/providers.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Owners: @platform-team, @webapp-team

Add ingress configuration with dynamic IP allocation
  README.md
  configs/ingress-nonprod.yaml
  configs/ingress-prod.yaml
  k8s-infra/ingress.yaml
  k8s-manifests/ingress.yaml
  scripts/deploy-ingress.sh
  skaffold.yaml
Owners: @webapp-team, @compliance-team, @platform-team, @devops-team

Fix skaffold.yaml syntax for v4beta6 - use resourceFilter instead of target
  skaffold.yaml
Owners: @devops-team, @webapp-team

Fix skaffold.yaml syntax for v4beta6 - use resourceFilter instead of target
  skaffold.yaml
Owners: @devops-team, @webapp-team

Fix compliance issues - add required labels to ingress resources
  k8s-infra/ingress.yaml
  k8s-manifests/ingress.yaml
Owners: @platform-team, @webapp-team

Add data-residency labels to all remaining k8s manifests
  k8s-infra/network-policy.yaml
  k8s-infra/rbac.yaml
  k8s-infra/resource-quota.yaml
  k8s-manifests/service.yaml
Owners: @platform-team, @webapp-team

Remove terraform-plan job from CI - infrastructure now in separate repo
  .github/workflows/ci-compliance.yml
Owners: @devops-team, @security-team, @webapp-team

Remove obsolete Terraform validation from CI
  .github/workflows/ci-compliance.yml
Owners: @devops-team, @security-team, @webapp-team

Fix Cloud Deploy authentication issue
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Fix workload identity configuration for deployment
  .github/workflows/cd-deploy.yml
  .github/workflows/production-promotion.yml
Owners: @devops-team, @security-team, @webapp-team

Add missing data-residency labels for GDPR compliance
  k8s-manifests/ingress.yaml
  k8s-manifests/service.yaml
Owners: @webapp-team

fix: correct Cloud Deploy pipeline name in workflows
  .github/workflows/cd-deploy.yml
  .github/workflows/production-promotion.yml
Owners: @devops-team, @security-team, @webapp-team

fix: specify GCS staging directory for Cloud Deploy releases
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Improve deployment monitoring and remove kubectl verification
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Fix image registry configuration for Cloud Deploy
  k8s-manifests/deployment.yaml
  skaffold.yaml
Owners: @webapp-team, @devops-team

Fix skaffold configuration using Kustomize overlays
  k8s-overlays/nonprod/deployment-patch.yaml
  k8s-overlays/nonprod/kustomization.yaml
  k8s-overlays/nonprod/resource-quota-patch.yaml
  k8s-overlays/prod/deployment-patch.yaml
  k8s-overlays/prod/kustomization.yaml
  k8s-overlays/prod/resource-quota-patch.yaml
  skaffold.yaml
Owners: @webapp-team, @platform-team, @security-team, @devops-team

refactor: restructure to proper k8s base/overlays pattern
  k8s-overlays/prod/kustomization.yaml
  k8s/base/kustomization.yaml
  k8s/overlays/nonprod/deployment-patch.yaml
  k8s/overlays/nonprod/kustomization.yaml
  k8s/overlays/nonprod/resource-quota-patch.yaml
  k8s/overlays/prod/deployment-patch.yaml
  k8s/overlays/prod/kustomization.yaml
  k8s/overlays/prod/resource-quota-patch.yaml
  skaffold.yaml
Owners: @platform-team, @security-team, @webapp-team, @devops-team

fix: add ingress host patches for each environment
  k8s/overlays/nonprod/ingress-patch.yaml
  k8s/overlays/nonprod/kustomization.yaml
  k8s/overlays/prod/ingress-patch.yaml
  k8s/overlays/prod/kustomization.yaml
Owners: @webapp-team, @platform-team, @security-team

fix: split ingress and managed certificate patches
  k8s/overlays/nonprod/ingress-patch.yaml
  k8s/overlays/nonprod/kustomization.yaml
  k8s/overlays/nonprod/managed-cert-patch.yaml
  k8s/overlays/prod/ingress-patch.yaml
  k8s/overlays/prod/kustomization.yaml
  k8s/overlays/prod/managed-cert-patch.yaml
Owners: @webapp-team, @platform-team, @security-team

fix: specify container image tag in deployment patch
  k8s/overlays/nonprod/deployment-patch.yaml
Owners: @webapp-team

Update deployment pipeline to use webapp-pipeline-v2
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Trigger deployment to test new pipeline
  trigger-deploy.txt
Owners: @webapp-team

Fix rollout monitoring in deployment workflow
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Fix skaffold profile name to match terraform
  skaffold.yaml
Owners: @devops-team, @webapp-team

Clean up webapp deployment configuration
  .github/workflows/cd-deploy.yml
  DEPLOYMENT.md
  clouddeploy-clean.yaml
  configs/ingress-nonprod.yaml
  configs/ingress-prod.yaml
  configs/nonprod.yaml
  configs/prod.yaml
  k8s-clean/autoneg/autoneg-controller.yaml
  k8s-clean/autoneg/install-autoneg.yaml
  k8s-clean/base/deployment.yaml
  k8s-clean/base/kustomization.yaml
  k8s-clean/base/namespace.yaml
  k8s-clean/base/network-policy.yaml
  k8s-clean/base/service-autoneg.yaml
  k8s-clean/base/service.yaml
  k8s-clean/overlays/nonprod/autoneg-service.yaml
  k8s-clean/overlays/nonprod/backend-service-autoneg.yaml
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
  k8s-clean/overlays/nonprod/kustomization.yaml
  k8s-infra/ingress.yaml
  k8s-infra/namespace.yaml
  k8s-infra/network-policy.yaml
  k8s-infra/rbac.yaml
  k8s-infra/resource-quota.yaml
  k8s-manifests/ingress.yaml
  k8s-manifests/service.yaml
  k8s/base/kustomization.yaml
  k8s/overlays/nonprod/deployment-patch.yaml
  k8s/overlays/nonprod/ingress-patch.yaml
  k8s/overlays/nonprod/kustomization.yaml
  k8s/overlays/nonprod/managed-cert-patch.yaml
  k8s/overlays/nonprod/resource-quota-patch.yaml
  k8s/overlays/prod/deployment-patch.yaml
  k8s/overlays/prod/ingress-patch.yaml
  k8s/overlays/prod/kustomization.yaml
  k8s/overlays/prod/managed-cert-patch.yaml
  k8s/overlays/prod/resource-quota-patch.yaml
  scripts/deploy-ingress.sh
  skaffold-clean.yaml
Owners: @devops-team, @security-team, @webapp-team, @compliance-team, @platform-team

Update workflow to use webapp-delivery-pipeline from Terraform
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Add skaffold.yaml for Cloud Deploy (uses k8s-clean structure)
  skaffold.yaml
Owners: @devops-team, @webapp-team

Fix skaffold.yaml to use k8s-clean structure and update workflow paths
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Fix pipeline name to match Terraform-created pipeline
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

Fix Config Connector resource issues
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Fix Cloud Deploy target to use per-app cluster
  clouddeploy-clean.yaml
Owners: @webapp-team

Enable Cloud Build for Skaffold image builds
  skaffold.yaml
Owners: @devops-team, @webapp-team

Fix load balancer configuration for webapp
  docs/load-balancer-fixes.md
  k8s-clean/base/service.yaml
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Fix load balancer configuration for webapp (#27)
  docs/load-balancer-fixes.md
  k8s-clean/base/service.yaml
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Document manual fixes needed for load balancer
  docs/manual-fixes-needed.md
Owners: @webapp-team
