Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

docs: add deployment approval and break glass documentation
  APPROVAL_GUIDE.md
  APPROVAL_PERMISSIONS_SUMMARY.md
  DEVELOPER_DEPLOYMENT_TEST_GUIDE.md
  EMERGENCY_BREAK_GLASS_PROCEDURE.md
  scripts/setup-approvers.sh
  scripts/test-developer-permissions.sh
Owners: @webapp-team

refactor: remove redundant approval documentation
  APPROVAL_GUIDE.md
  APPROVAL_PERMISSIONS_SUMMARY.md
  EMERGENCY_BREAK_GLASS_PROCEDURE.md
Owners: @webapp-team

Update webapp nonprod for deployment
  apps/webapp/nonprod/main.tf
Owners: @webapp-team

Split k8s resources into separate module to avoid circular dependencies
  apps/webapp/nonprod/import.sh
  modules/webapp-complete/outputs.tf
  modules/webapp-complete/providers.tf
  modules/webapp-complete/variables.tf
  modules/webapp-k8s/README.md
  modules/webapp-k8s/config-connector.tf
  modules/webapp-k8s/external-dns.tf
  modules/webapp-k8s/providers.tf
  modules/webapp-k8s/variables.tf
Owners: @webapp-team

chore: trigger deployment to new GKE infrastructure
  DEPLOYMENT_NOTES.md
Owners: @webapp-team

chore: trigger deployment after workload identity fix
  README.md
Owners: @webapp-team

chore: trigger deployment after workload identity fix
  README.md
Owners: @webapp-team

chore: trigger deployment after workload identity fix
  README.md
Owners: @webapp-team

chore: trigger deployment after workload identity fix
  app.js
Owners: @webapp-team

Migrate webapp-team-app to Gateway API and remove LLM-generated docs
  DEPLOYMENT_NOTES.md
  LOADBALANCER_SERVICE_DETAILS.md
  NODEPORT_TLS_OPTIONS.md
  PREVIEW_ACCESS_PATTERNS.md
  PRIVATE_IP_PATTERNS.md
  PROFILES_AND_AXES.md
  SHARED_LB_PATTERNS.md
  TAILSCALE_GCP_SETUP.md
  VPN_DIRECT_ACCESS.md
  k8s-clean/overlays/dev/config-connector-resources.yaml
  k8s-clean/overlays/dev/gateway-resources.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/dev/service-patch.yaml
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
  k8s-clean/overlays/nonprod/gateway-resources.yaml
  k8s-clean/overlays/nonprod/kustomization.yaml
  k8s-clean/overlays/nonprod/service-patch.yaml
  skaffold.yaml
Owners: @webapp-team, @devops-team

Add preview deployment infrastructure with Gateway API
  clouddeploy-preview.yaml
  docs/preview-deployments.md
  k8s-clean/overlays/preview-gateway/configmap.yaml
  k8s-clean/overlays/preview-gateway/httproute.yaml
  k8s-clean/overlays/preview-gateway/infra-resources.yaml
  k8s-clean/overlays/preview-gateway/kustomization.yaml
  k8s-clean/overlays/preview-gateway/namespace-patch.yaml
  k8s-clean/overlays/preview-gateway/preview-manifests.yaml
  k8s-clean/overlays/preview-gateway/service-patch.yaml
  scripts/deploy-preview.sh
  skaffold-gateway-preview.yaml
  skaffold.yaml
Owners: @webapp-team, @devops-team

Fix preview deployment render issue
  clouddeploy-preview.yaml
  k8s-clean/overlays/preview-gateway/infra-resources.yaml
  scripts/deploy-preview.sh
Owners: @webapp-team

Fix certificate map entry reference format
  k8s-clean/overlays/preview-gateway/infra-resources.yaml
Owners: @webapp-team

Move certificate resources to webapp-dev namespace
  k8s-clean/overlays/preview-gateway/certificate-resources.yaml
  k8s-clean/overlays/preview-gateway/kustomization.yaml
Owners: @webapp-team

feat: implement parameterized preview deployments with Gateway API
  clouddeploy-preview.yaml
  k8s-clean/base/deployment.yaml
  k8s-clean/base/kustomization.yaml
  k8s-clean/base/network-policy.yaml
  k8s-clean/base/service.yaml
  k8s-clean/overlays/preview-gateway/certificate-resources.yaml
  k8s-clean/overlays/preview-gateway/configconnector-context.yaml
  k8s-clean/overlays/preview-gateway/configmap.yaml
  k8s-clean/overlays/preview-gateway/httproute.yaml
  k8s-clean/overlays/preview-gateway/kustomization.yaml
  k8s-clean/overlays/preview-gateway/namespace-patch.yaml
  k8s-clean/overlays/preview-gateway/namespace.yaml
  k8s-clean/profiles/dev/pod-disruption-budget.yaml
  scripts/deploy-preview.sh
  skaffold-gateway-preview.yaml
Owners: @webapp-team

feat: implement 3-stage preview deployment pipeline
  clouddeploy-preview.yaml
  k8s-clean/overlays/preview-gateway-cert/kustomization.yaml
  k8s-clean/overlays/preview-gateway-infra/kustomization.yaml
  k8s-clean/overlays/preview-gateway/certificate-resources.yaml
  k8s-clean/overlays/preview-gateway/configconnector-context.yaml
  scripts/deploy-preview.sh
  skaffold-gateway-preview.yaml
Owners: @webapp-team

refactor: simplify CI/CD pipeline structure
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy-qa-prod.yaml
  .gitignore
  clouddeploy-clean.yaml
  clouddeploy-pipeline.yaml
  clouddeploy-stages.yaml
  clouddeploy.yaml
  deploy-boundary-stage-tier.sh
  deploy-dynamic-env.sh
  deploy-dynamic-with-params.sh
  deploy-foo.sh
  docs/deployment-guide.md
  k8s-clean/overlays/preprod/kustomization.yaml
  scripts/deploy-preview.sh
  scripts/promote-to-prod.sh
  skaffold-clean.yaml
  skaffold-dev.yaml
  skaffold-dynamic.yaml
  skaffold-preview.yaml
  skaffold-prod.yaml
  skaffold-qa.yaml
  skaffold-unified.yaml
  skaffold.yaml
Owners: @devops-team, @security-team, @webapp-team, @platform-team

fix: remove hardcoded delays between preview deployment stages
  clouddeploy-preview.yaml
Owners: @webapp-team

feat: add preview cleanup script
  scripts/cleanup-previews.sh
Owners: @webapp-team

feat: add comprehensive preview cleanup automation
  .github/workflows/cleanup-old-previews.yaml
  .github/workflows/deploy-preview.yaml
  docs/deployment-guide.md
  scripts/cleanup-preview-pr.sh
Owners: @devops-team, @security-team, @webapp-team

test: add preview deployment test
  app.js
  docs/preview-test.md
  scripts/test-preview-deployment.sh
Owners: @webapp-team

Test GitHub Actions with WIF configuration
  docs/test-github-actions.md
Owners: @webapp-team

Clean up unused Kustomize overlays and fix prod profile path
  docs/github-actions-setup.md
  docs/github-secrets-setup.md
  k8s-clean/overlays/dynamic-deploy-preview/kustomization.yaml
  k8s-clean/overlays/dynamic-deploy/config-connector-resources.yaml
  k8s-clean/overlays/dynamic-deploy/kustomization.yaml
  k8s-clean/overlays/dynamic-preview-gce/ingress-ephemeral.yaml
  k8s-clean/overlays/dynamic-preview-gce/kustomization.yaml
  k8s-clean/overlays/dynamic-preview/ingress-nginx.yaml
  k8s-clean/overlays/dynamic-preview/kustomization.yaml
  k8s-clean/overlays/dynamic/config-connector-resources.yaml
  k8s-clean/overlays/dynamic/kustomization.yaml
  k8s-clean/overlays/foo/config-connector-resources.yaml
  k8s-clean/overlays/foo/kustomization.yaml
  k8s-clean/overlays/nonprod/cleanup-old-resources.yaml
  k8s-clean/overlays/nonprod/gateway-resources.yaml
  k8s-clean/overlays/nonprod/kustomization.yaml
  k8s-clean/overlays/nonprod/service-patch.yaml
  k8s-clean/overlays/preview-loadbalancer/kustomization.yaml
  k8s-clean/overlays/preview-nodeport/kustomization.yaml
  k8s-clean/overlays/preview-port-forward/kustomization.yaml
  k8s-clean/overlays/preview/ingress-nginx.yaml
  k8s-clean/overlays/preview/kustomization.yaml
  k8s-clean/overlays/qa/config-connector-resources.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  k8s-clean/overlays/staging/config-connector-resources.yaml
  k8s-clean/overlays/staging/kustomization.yaml
  scripts/setup-github-wif.sh
  skaffold.yaml
Owners: @webapp-team, @devops-team

Rationalize Skaffold profiles: preprod → nonprod
  NAMING_CONVENTION.md
  clouddeploy.yaml
  k8s-clean/overlays/nonprod/kustomization.yaml
  skaffold.yaml
Owners: @webapp-team, @platform-team, @devops-team

Parameterize all environment overlays following preview pattern
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-qa-prod.yaml
  k8s-clean/overlays/dev/gateway-resources.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/production/kustomization.yaml
  scripts/deploy-prod-params.txt
Owners: @devops-team, @security-team, @webapp-team

Convert production overlay to use Gateway API
  k8s-clean/overlays/production/config-connector-resources.yaml
  k8s-clean/overlays/production/gateway-resources.yaml
  k8s-clean/overlays/production/kustomization.yaml
  scripts/deploy-prod-params.txt
Owners: @webapp-team

Standardize all environments on 3-stage deployment (cert→infra→app)
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-qa-prod.yaml
  clouddeploy-3stage.yaml
  k8s-clean/overlays/dev-cert/certificate-resources.yaml
  k8s-clean/overlays/dev-cert/kustomization.yaml
  k8s-clean/overlays/dev-cert/namespace.yaml
  k8s-clean/overlays/dev-infra/kustomization.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/production-cert/certificate-resources.yaml
  k8s-clean/overlays/production-cert/kustomization.yaml
  k8s-clean/overlays/production-cert/namespace.yaml
  k8s-clean/overlays/production-infra/kustomization.yaml
  k8s-clean/overlays/production/kustomization.yaml
  scripts/deploy-prod-params.txt
  skaffold-3stage.yaml
Owners: @devops-team, @security-team, @webapp-team

Refactor preview overlays to match dev/production structure
  .github/workflows/deploy-preview.yaml
  README.md
  clouddeploy.yaml
  k8s-clean/overlays/nonprod/kustomization.yaml
  k8s-clean/overlays/preview-gateway-cert/certificate-resources.yaml
  k8s-clean/overlays/preview-gateway-cert/kustomization.yaml
  k8s-clean/overlays/preview-gateway-cert/namespace.yaml
  k8s-clean/overlays/preview-gateway-infra/gateway-resources.yaml
  k8s-clean/overlays/preview-gateway-infra/kustomization.yaml
  k8s-clean/overlays/preview-gateway-infra/service-patch.yaml
  k8s-clean/overlays/preview-gateway/configmap.yaml
  k8s-clean/overlays/preview-gateway/httproute.yaml
  k8s-clean/overlays/preview-gateway/kustomization.yaml
  k8s-clean/overlays/preview-gateway/preview-manifests.yaml
  k8s-clean/overlays/preview-gateway/service-patch.yaml
  k8s-clean/profiles/tier-ci/kustomization.yaml
  k8s-clean/profiles/tier-perf/kustomization.yaml
  k8s-clean/profiles/tier-preview/kustomization.yaml
  k8s-clean/profiles/tier-standard/kustomization.yaml
  skaffold-3stage.yaml
  skaffold.yaml
Owners: @devops-team, @security-team, @webapp-team, @platform-team

Restore accidentally omitted preview deployment workflows
  .github/workflows/cleanup-old-previews.yaml
  .github/workflows/deploy-preview.yaml
Owners: @devops-team, @security-team, @webapp-team

Restore missing preview deployment configurations
  deploy/clouddeploy/preview-pipeline.yaml
  deploy/skaffold/preview-gateway.yaml
Owners: @webapp-team

Update compliance workflow for new directory structure
  .github/workflows/ci-compliance.yaml
Owners: @devops-team, @security-team, @webapp-team

Restore preview-gateway overlays required for PR previews
  k8s/overlays/preview-gateway-cert/certificate-resources.yaml
  k8s/overlays/preview-gateway-cert/kustomization.yaml
  k8s/overlays/preview-gateway-cert/namespace.yaml
  k8s/overlays/preview-gateway-infra/gateway-resources.yaml
  k8s/overlays/preview-gateway-infra/kustomization.yaml
  k8s/overlays/preview-gateway-infra/service-patch.yaml
  k8s/overlays/preview-gateway/kustomization.yaml
Owners: @webapp-team

Fix relative paths in preview Skaffold config
  deploy/skaffold/preview-gateway.yaml
Owners: @webapp-team

Test preview deployment
  README.md
Owners: @webapp-team

Remove delays between Cloud Deploy stages
  clouddeploy-3stage.yaml
Owners: @webapp-team

Fix preview deployment parameter substitution
  clouddeploy-preview.yaml
Owners: @webapp-team

Move namespace and labels from kustomization to manifests
  k8s-clean/base/deployment.yaml
  k8s-clean/base/network-policy.yaml
  k8s-clean/base/service.yaml
  k8s-clean/overlays/preview-gateway-infra/gateway-resources.yaml
  k8s-clean/overlays/preview-gateway-infra/kustomization.yaml
  k8s-clean/overlays/preview-gateway/kustomization.yaml
Owners: @webapp-team

Fix from-param comment format in manifests
  k8s-clean/base/deployment.yaml
  k8s-clean/base/network-policy.yaml
  k8s-clean/base/service.yaml
  k8s-clean/overlays/preview-gateway-infra/gateway-resources.yaml
Owners: @webapp-team

Consolidate preview deployment into single stage
  .github/workflows/deploy-preview.yaml
  clouddeploy-preview.yaml
Owners: @devops-team, @security-team, @webapp-team

Add Cloud Deploy configuration apply step
  .github/workflows/deploy-preview.yaml
Owners: @devops-team, @security-team, @webapp-team
