Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

feat: Implement explicit versioning for compliance-cli
  .compliance-cli-version
  .compliance-cli.yml
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/pr-format.yaml
  deploy/cloudbuild/pr-lint.yaml
  deploy/cloudbuild/pr-static-analysis.yaml
  deploy/cloudbuild/pr-tests.yaml
  deploy/cloudbuild/pr-validation.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
  scripts/update-compliance-cli-version.sh
Owners: @webapp-team

fix: Remove duplicate WEBAPP_DEMO_SECRET env var from preview kustomization
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Remove duplicate WEBAPP_DEMO_SECRET env var from preview kustomization
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

feat: Enable External Secrets Operator integration
  k8s/app/base/kustomization.yml
Owners: @webapp-team

fix: Update ExternalSecret to use webapp-demo-secret
  k8s/app/base/external-secret.yml
Owners: @webapp-team

feat: Add WEBAPP_DEMO_SECRET environment variable to deployment
  k8s/app/base/deployment.yml
Owners: @webapp-team

fix: Parameterize service account and PROJECT_ID for multi-environment support
  k8s/app/base/deployment.yml
  k8s/app/base/secret-store.yml
  k8s/app/base/service-account.yml
  k8s/app/resources/preview/postgres-sidecar.yaml
Owners: @webapp-team

fix: Remove comment from PROJECT_ID value that was breaking JavaScript client
  k8s/app/base/deployment.yml
Owners: @webapp-team

cleanup: Remove redundant ExternalSecret definition from preview
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/secret.yml
Owners: @webapp-team

refactor: Reorganize k8s resources to boundary-based structure
  deploy/skaffold.yaml
  k8s/app/resources/nonprod/kustomization.yml
  k8s/app/resources/nonprod/migration-job.yml
Owners: @devops-team, @webapp-team

fix: Consolidate migration-job to base with proper parameterization
  k8s/app/base/kustomization.yml
  k8s/app/base/migration-job.yml
  k8s/app/resources/nonprod/kustomization.yml
  k8s/app/resources/prod/kustomization.yml
  k8s/app/resources/prod/migration-job.yml
Owners: @webapp-team, @platform-team, @security-team

feat: Replace PostgreSQL with AlloyDB Omni in preview environments
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

test: Trigger preview deployment with AlloyDB Omni
  test-alloydb.md
Owners: @webapp-team

fix: Use correct AlloyDB Omni image with PostgreSQL 16
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Adjust AlloyDB Omni security context for initialization
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Configure AlloyDB Omni to work with PodSecurity restrictions
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

refactor: Restructure preview environment to use separate AlloyDB Omni database
  k8s/app/resources/preview/alloydb-omni.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/postgres-sidecar.yaml
Owners: @webapp-team

fix: Use Deployment with emptyDir for AlloyDB Omni in preview
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

fix: Remove PGDATA env var to use AlloyDB Omni defaults
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

fix: Add subPath to AlloyDB Omni volume mount
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

fix: Configure AlloyDB Omni based on official documentation
  k8s/app/resources/preview/alloydb-omni.yml
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Adjust AlloyDB Omni volume permissions
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

fix: Properly configure AlloyDB Omni based on research
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

fix: Add init container to clean data directory
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

feat: Use AlloyDB Omni Operator for preview database
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

feat: Use AlloyDB Omni Operator for preview database
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

feat: Use AlloyDB Omni Operator for preview environments
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Use operator-created service for database connection
  k8s/app/resources/preview/alloydb-omni.yml
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Increase AlloyDB Omni memory to 4Gi
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

fix: Add namespace patch to relax pod security for AlloyDB Omni
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Use strategic merge patch for namespace pod security labels
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Remove AlloyDB Auth Proxy for preview environments
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

fix: Add network policy egress rule for AlloyDB Omni
  k8s/app/resources/preview/kustomization.yml
Owners: @webapp-team

feat: Fully automate AlloyDB Omni setup for preview environments
  k8s/app/resources/preview/alloydb-auth.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/preview/namespace-patch.yml
  k8s/app/resources/preview/network-policy-patch.yml
Owners: @webapp-team

fix: Correct UserDefinedAuthentication format for AlloyDB Omni
  k8s/app/resources/preview/alloydb-auth.yml
Owners: @webapp-team

feat: Optimize AlloyDB Omni for single-instance preview environments
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

fix: Explicitly set numberOfStandbys to 0 for single instance
  k8s/app/resources/preview/alloydb-omni.yml
Owners: @webapp-team

chore: Remove unused postgres-sidecar.yaml
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/pr-format.yaml
  deploy/cloudbuild/pr-lint.yaml
  deploy/cloudbuild/pr-static-analysis.yaml
  deploy/cloudbuild/pr-tests.yaml
  deploy/cloudbuild/pr-validation.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
  deploy/skaffold.yaml
  k8s/app/resources/preview/postgres-sidecar.yaml
Owners: @webapp-team, @devops-team

chore: Remove unused external-secrets directory
  k8s/external-secrets/cluster-secret-store.yml
Owners: @webapp-team

feat: Move HPA to base configuration with environment-specific settings
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
  k8s/app/base/horizontal-pod-autoscaler.yml
  k8s/app/base/kustomization.yml
  k8s/app/resources/nonprod/kustomization.yml
  k8s/app/resources/prod/kustomization.yml
Owners: @webapp-team, @platform-team, @security-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team
