Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

feat: Use pre-built compliance-cli image in preview builds
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

feat: Update all CloudBuild configs to use pre-built compliance-cli image
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

test: Verify domain-wide permissions for compliance-cli image
  app.js
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

feat: Use pre-built compliance-cli image everywhere
  Makefile
  compliance-cli
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

feat: Use pre-built compliance-cli image everywhere (#206)
  Makefile
  compliance-cli
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

test: Validate environment updates
  app.js
Owners: @webapp-team

fix: Add 'deploy' subcommand to preview deployment
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

fix: Add deploy subcommand and test preview
  app.js
  deploy/cloudbuild/preview.yaml
Owners: @webapp-team

fix: Increase preview deployment timeout to 10 minutes
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

fix: Preview deploy command and test cert provisioning (#208)
  app.js
  deploy/cloudbuild/preview.yaml
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

test: Final preview deployment test v7.6
  app.js
  deploy/cloudbuild/preview-destroy.yaml
Owners: @webapp-team

fix: Disable status checking for preview to avoid cross-namespace bug
  deploy/skaffold.yaml
Owners: @devops-team, @webapp-team

fix: Deploy certificates in same namespace as application
  deploy/skaffold.yaml
  k8s/gcp/certificate.yml
Owners: @devops-team, @webapp-team

fix: Restore modular Skaffold config for preview to avoid status check bug
  deploy/skaffold-preview-modules.yaml
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

fix: Use modular skaffold config for preview deployments
  deploy/clouddeploy/preview.yml
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

fix: Disable status checking for preview deployments
  deploy/clouddeploy/preview.yml
  deploy/skaffold.yaml
Owners: @webapp-team, @devops-team

fix: Move all resources to Kustomize for parameter substitution
  deploy/skaffold.yaml
  k8s/app/resources/preview/kustomization.yml
Owners: @devops-team, @webapp-team

fix: Standardize all environments to use Kustomize for namespace
  deploy/skaffold-preview-modules.yaml
  deploy/skaffold.yaml
  k8s/app/resources/preprod/kustomization.yml
  k8s/app/resources/prod/kustomization.yml
Owners: @webapp-team, @devops-team, @platform-team, @security-team

test: Final preview deployment test (#209)
  app.js
  deploy/cloudbuild/preview-destroy.yaml
  deploy/skaffold.yaml
  k8s/app/resources/preprod/kustomization.yml
  k8s/app/resources/preview/kustomization.yml
  k8s/app/resources/prod/kustomization.yml
  k8s/gcp/certificate.yml
Owners: @webapp-team, @devops-team, @platform-team, @security-team

fix: Remove compliance-cli dependency from QA deployment
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

fix: Add skaffold-file path to QA gcloud deploy command
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

fix: Restore compliance-cli for QA deployment with gcr.io path
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

fix: Use gcloud for QA deployment without compliance-cli
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

fix: Update Makefile and compliance-cli wrapper
  Makefile
  compliance-cli
  deploy/clouddeploy/dev.yml
Owners: @webapp-team

feat: Add pipeline generation capability to Makefile
  Makefile
  deploy/clouddeploy/dev.yml
  deploy/clouddeploy/preview.yml
  deploy/clouddeploy/qa-prod.yml
Owners: @webapp-team

fix: Remove local compliance-cli fallback from Makefile
  Makefile
  deploy/clouddeploy/dev.yml
Owners: @webapp-team

feat: Add simplified Makefile using compliance-cli commands
  Makefile.simple
Owners: @webapp-team

refactor: Replace Makefile complexity with simple compliance-cli wrapper
  Makefile
  Makefile.simple
  bin/compliance-cli
  compliance-cli
Owners: @webapp-team

refactor: Simplify Cloud Build configs to use compliance-cli directly
  bin/compliance-cli
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

refactor: Simplify compliance-cli wrapper to Docker-only
  bin/compliance-cli
Owners: @webapp-team

test: Full deployment cycle with simplified compliance-cli
  app.js
Owners: @webapp-team

test: Update version for new PR with fixed domain
  app.js
Owners: @webapp-team

test: Full deployment cycle with domain fixes (#211)
  app.js
  bin/compliance-cli
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

feat: Build proper multi-arch Docker images with buildx
  bin/compliance-cli
Owners: @webapp-team

test: Final deployment validation with multi-arch Docker image
  app.js
Owners: @webapp-team

test: Final deployment validation with multi-arch Docker image (#212)
  app.js
Owners: @webapp-team

feat: Update to modern Artifact Registry URL for compliance-cli
  bin/compliance-cli
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

feat: Update to modern Artifact Registry URL for compliance-cli (#213)
  bin/compliance-cli
  deploy/cloudbuild/dev.yaml
  deploy/cloudbuild/preview-cleanup.yaml
  deploy/cloudbuild/preview-destroy.yaml
  deploy/cloudbuild/preview.yaml
  deploy/cloudbuild/qa.yaml
Owners: @webapp-team

chore: Remove docs directory
  docs/README.md
  docs/development/deployment-guide.md
  docs/development/github-actions-setup.md
  docs/development/preview-deployments.md
  docs/development/unified-deploy-script.md
  docs/operations/github-secrets-setup.md
  docs/operations/naming-convention.md
Owners: @webapp-team

chore: Remove docs directory (#214)
  docs/README.md
  docs/development/deployment-guide.md
  docs/development/github-actions-setup.md
  docs/development/preview-deployments.md
  docs/development/unified-deploy-script.md
  docs/operations/github-secrets-setup.md
  docs/operations/naming-convention.md
Owners: @webapp-team
