Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

Add maxConnectionsPerEndpoint for CONNECTION mode (#56)
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Add explicit projectRef to Certificate Manager resources
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Add explicit projectRef to Certificate Manager resources (#57)
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Switch to L7 Application Load Balancer
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Switch to L7 Application Load Balancer (#58)
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Switch to Ingress-based L7 load balancer
  k8s-clean/overlays/nonprod/cleanup-old-resources.yaml
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Switch to Ingress-based L7 load balancer (#59)
  k8s-clean/overlays/nonprod/cleanup-old-resources.yaml
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Change service to NodePort for GCE Ingress
  k8s-clean/base/service.yaml
Owners: @webapp-team

Change service to NodePort for GCE Ingress (#60)
  k8s-clean/base/service.yaml
Owners: @webapp-team

Remove pre-shared-cert annotation temporarily
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Remove pre-shared-cert annotation temporarily (#61)
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Switch to Google-managed SSL certificate for Ingress
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Switch to Google-managed SSL certificate for Ingress (#62)
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Clean Ingress setup with ManagedCertificate
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Clean Ingress setup with ManagedCertificate (#63)
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
Owners: @webapp-team

Remove org-level cluster references and Autoneg
  .github/workflows/cd-deploy.yml
  .github/workflows/production-promotion.yml
  DEPLOYMENT.md
  DEPLOYMENT_GUIDE.md
  clouddeploy-clean.yaml
  k8s-clean/autoneg/autoneg-controller.yaml
  k8s-clean/autoneg/install-autoneg.yaml
Owners: @devops-team, @security-team, @webapp-team

Implement resource-based profiles for environments
  k8s-clean/overlays/dev/config-connector-resources.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/production/config-connector-resources.yaml
  k8s-clean/overlays/production/kustomization.yaml
  k8s-clean/overlays/qa/config-connector-resources.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  k8s-clean/overlays/staging/config-connector-resources.yaml
  k8s-clean/overlays/staging/kustomization.yaml
  k8s-clean/profiles/dev/kustomization.yaml
  k8s-clean/profiles/dev/pod-disruption-budget.yaml
  k8s-clean/profiles/prod/horizontal-pod-autoscaler.yaml
  k8s-clean/profiles/prod/kustomization.yaml
  k8s-clean/profiles/prod/pod-disruption-budget.yaml
  skaffold.yaml
Owners: @webapp-team, @platform-team, @security-team, @devops-team

feat: Add dynamic environment deployment with Cloud Deploy parameters
  deploy-dynamic-env.sh
  deploy-dynamic-with-params.sh
  deploy-foo.sh
  k8s-clean/overlays/dynamic-deploy/config-connector-resources.yaml
  k8s-clean/overlays/dynamic-deploy/kustomization.yaml
  k8s-clean/overlays/dynamic/config-connector-resources.yaml
  k8s-clean/overlays/dynamic/kustomization.yaml
  k8s-clean/overlays/foo/config-connector-resources.yaml
  k8s-clean/overlays/foo/kustomization.yaml
  skaffold-clean.yaml
  skaffold-dynamic.yaml
Owners: @webapp-team

feat: Implement boundary-stage-tier naming convention
  NAMING_CONVENTION.md
  deploy-boundary-stage-tier.sh
  k8s-clean/overlays/dynamic-deploy/config-connector-resources.yaml
  k8s-clean/overlays/dynamic-deploy/kustomization.yaml
  k8s-clean/profiles/tier-ci/kustomization.yaml
  k8s-clean/profiles/tier-perf/kustomization.yaml
  k8s-clean/profiles/tier-preview/kustomization.yaml
  k8s-clean/profiles/tier-standard/kustomization.yaml
  skaffold-dynamic.yaml
Owners: @webapp-team

fix: Prevent commonLabels from modifying service selectors
  deploy-boundary-stage-tier.sh
  k8s-clean/base/deployment.yaml
  k8s-clean/base/kustomization.yaml
  k8s-clean/overlays/dynamic-deploy/kustomization.yaml
Owners: @webapp-team

feat: Add lightweight configuration for preview environments
  PROFILES_AND_AXES.md
  deploy-boundary-stage-tier.sh
  k8s-clean/overlays/dynamic-preview-gce/ingress-ephemeral.yaml
  k8s-clean/overlays/dynamic-preview-gce/kustomization.yaml
  k8s-clean/overlays/dynamic-preview/ingress-nginx.yaml
  k8s-clean/overlays/dynamic-preview/kustomization.yaml
  k8s-clean/overlays/preview/ingress-nginx.yaml
  k8s-clean/overlays/preview/kustomization.yaml
  skaffold-dynamic.yaml
Owners: @webapp-team

Switch preview environments to NodePort for zero infrastructure
  LOADBALANCER_SERVICE_DETAILS.md
  NODEPORT_TLS_OPTIONS.md
  PREVIEW_ACCESS_PATTERNS.md
  PRIVATE_IP_PATTERNS.md
  SHARED_LB_PATTERNS.md
  VPN_DIRECT_ACCESS.md
  deploy-boundary-stage-tier.sh
  k8s-clean/overlays/preview-loadbalancer/kustomization.yaml
  k8s-clean/overlays/preview-nodeport/kustomization.yaml
  k8s-clean/overlays/preview-port-forward/kustomization.yaml
  skaffold-dynamic.yaml
Owners: @webapp-team

Fix preview deployment by using separate overlay without ingress resources
  deploy-boundary-stage-tier.sh
  k8s-clean/overlays/dynamic-deploy-preview/kustomization.yaml
  skaffold-dynamic.yaml
Owners: @webapp-team

Successfully implement NodePort preview deployments
  deploy-boundary-stage-tier.sh
  skaffold-preview.yaml
Owners: @webapp-team

refactor: migrate from environment to boundary terminology
  .github/workflows/cd-deploy.yml
  TAILSCALE_GCP_SETUP.md
  app.js
  clouddeploy-clean.yaml
  k8s-clean/base/deployment.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/dynamic-deploy/config-connector-resources.yaml
  k8s-clean/overlays/dynamic-preview-gce/ingress-ephemeral.yaml
  k8s-clean/overlays/dynamic-preview/ingress-nginx.yaml
  k8s-clean/overlays/dynamic/config-connector-resources.yaml
  k8s-clean/overlays/dynamic/kustomization.yaml
  k8s-clean/overlays/nonprod/config-connector-resources.yaml
  k8s-clean/overlays/nonprod/kustomization.yaml
  k8s-clean/overlays/production/kustomization.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  k8s-clean/overlays/staging/kustomization.yaml
  skaffold-clean.yaml
  skaffold-dynamic.yaml
  skaffold-preview.yaml
  skaffold.yaml
Owners: @devops-team, @security-team, @webapp-team

fix: use GitHub secret for workload identity provider
  .github/workflows/cd-deploy.yml
Owners: @devops-team, @security-team, @webapp-team

fix: add Docker image build step to deployment workflow
  .github/workflows/cd-deploy.yml
  skaffold-clean.yaml
Owners: @devops-team, @security-team, @webapp-team

feat: implement multi-stage deployment pipeline
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod-promote.yml
  .github/workflows/cd-qa.yml
  app.js
  clouddeploy-stages.yaml
  k8s-clean/base/deployment.yaml
  k8s-clean/namespaces.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  pipeline-export.yaml
  skaffold-qa.yaml
Owners: @devops-team, @security-team, @webapp-team

fix: update skaffold configurations for multi-stage deployment
  skaffold-clean.yaml
  skaffold-dev.yaml
Owners: @webapp-team

fix: sanitize tag for Cloud Deploy labels
  .github/workflows/cd-qa.yml
Owners: @devops-team, @security-team, @webapp-team

fix: add prod profile alias for Cloud Deploy compatibility
  skaffold.yaml
Owners: @devops-team, @webapp-team

fix: add prod profile alias for Cloud Deploy compatibility (#66)
  skaffold.yaml
Owners: @devops-team, @webapp-team

fix: add missing profiles to stage-specific skaffold files
  skaffold-prod.yaml
  skaffold-qa.yaml
Owners: @webapp-team

fix: add missing profiles to stage-specific skaffold files (#67)
  skaffold-prod.yaml
  skaffold-qa.yaml
Owners: @webapp-team

feat: unified skaffold configuration and improved Cloud Deploy pipeline
  .github/workflows/cd-dev.yml
  .github/workflows/cd-promote.yml
  .github/workflows/cd-qa.yml
  .github/workflows/cd-status.yml
  clouddeploy-pipeline.yaml
  skaffold-unified.yaml
Owners: @devops-team, @security-team, @webapp-team

feat: unified skaffold configuration and improved Cloud Deploy pipeline (#68)
  .github/workflows/cd-dev.yml
  .github/workflows/cd-promote.yml
  .github/workflows/cd-qa.yml
  .github/workflows/cd-status.yml
  clouddeploy-pipeline.yaml
  skaffold-unified.yaml
Owners: @devops-team, @security-team, @webapp-team

fix: correct stage promotion flow - QA to Prod only
  .github/workflows/cd-promote.yml
  STAGE_DEPLOYMENT_GUIDE.md
Owners: @devops-team, @security-team, @webapp-team

fix: correct stage promotion flow - QA to Prod only (#69)
  .github/workflows/cd-promote.yml
  STAGE_DEPLOYMENT_GUIDE.md
Owners: @devops-team, @security-team, @webapp-team

fix: add id-token permission to promotion workflow
  .github/workflows/cd-promote.yml
Owners: @devops-team, @security-team, @webapp-team

fix: add id-token permission to promotion workflow (#70)
  .github/workflows/cd-promote.yml
Owners: @devops-team, @security-team, @webapp-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team
