Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

refactor: Standardize labels across all environments
  k8s-clean/base/kustomization.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/preview/kustomization.yaml
  k8s-clean/overlays/production/kustomization.yaml
  k8s-clean/overlays/qa/kustomization.yaml
Owners: @webapp-team

test: Verify label standardization
  TEST_LABELS.md
Owners: @webapp-team

Add PodDisruptionBudget to all environments
  k8s-clean/base/kustomization.yaml
  k8s-clean/base/pod-disruption-budget.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/dev/pdb-patch.yaml
  k8s-clean/overlays/preview/kustomization.yaml
  k8s-clean/overlays/preview/pdb-patch.yaml
  k8s-clean/overlays/production/kustomization.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  k8s-clean/overlays/qa/pdb-patch.yaml
Owners: @webapp-team

Standardize Cloud Deploy parameter handling
  clouddeploy-dev.yaml
  scripts/deploy-dev.sh
  scripts/deploy-preview.sh
Owners: @webapp-team

Create unified deployment script
  cloudbuild-dev.yaml
  cloudbuild-preview.yaml
  cloudbuild-qa.yaml
  docs/unified-deploy-script.md
  scripts/deploy.sh
Owners: @webapp-team

Remove old deploy scripts and update documentation
  docs/deployment-guide.md
  docs/github-actions-setup.md
  docs/preview-deployments.md
  scripts/deploy-dev.sh
  scripts/deploy-preview.sh
  scripts/deploy-qa.sh
Owners: @webapp-team

Fix QA deployment: don't impersonate when already running as cloud-deploy-sa
  scripts/deploy.sh
Owners: @webapp-team

Fix QA/Prod deployments: don't pass parameters when already in YAML
  scripts/deploy.sh
Owners: @webapp-team

Consolidate Kubernetes manifests to reduce duplication
  docs/k8s-consolidation-plan.md
  k8s-clean/base/certificate-template.yaml
  k8s-clean/components/pdb-minAvailable-1/kustomization.yaml
  k8s-clean/components/pdb-minAvailable-1/pdb-patch.yaml
  k8s-clean/namespace/namespace-unified.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/dev/pdb-patch.yaml
  k8s-clean/overlays/preview/kustomization.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  k8s-clean/overlays/qa/pdb-patch.yaml
Owners: @webapp-team

Fix deploy script: quote CERT_DESCRIPTION parameter to handle spaces
  scripts/deploy.sh
Owners: @webapp-team

Fix deploy script: remove spaces from CERT_DESCRIPTION parameter
  scripts/deploy.sh
Owners: @webapp-team

Consolidate namespaces and parameterize project IDs
  k8s-clean/base/certificate-template.yaml
  k8s-clean/base/deployment.yaml
  k8s-clean/kcc/overlays/preview/certificate-resources.yaml
  k8s-clean/kcc/overlays/preview/kustomization.yaml
  k8s-clean/namespace/namespace-nonprod.yaml
  k8s-clean/namespace/namespace-prod.yaml
  k8s-clean/namespace/namespace-unified.yaml
  k8s-clean/namespace/namespace.yaml
  k8s-clean/overlays/preview/namespace.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Fix deployment selector to match existing deployments
  k8s-clean/base/deployment.yaml
Owners: @webapp-team

Revert image parameterization - Skaffold handles image substitution
  k8s-clean/base/deployment.yaml
Owners: @webapp-team

Revert selector changes to fix QA/Prod deployments
  k8s-clean/base/deployment.yaml
Owners: @webapp-team

Consolidate PDB configuration to single parameterized base
  clouddeploy-qa-prod.yaml
  k8s-clean/base/pod-disruption-budget.yaml
  k8s-clean/components/pdb-minAvailable-1/kustomization.yaml
  k8s-clean/components/pdb-minAvailable-1/pdb-patch.yaml
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/preview/kustomization.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  k8s-clean/profiles/dev/pod-disruption-budget.yaml
  k8s-clean/profiles/prod/pod-disruption-budget.yaml
  scripts/deploy.sh
Owners: @webapp-team, @platform-team, @security-team

Add comment about PDB selector requirements
  k8s-clean/base/pod-disruption-budget.yaml
Owners: @webapp-team

Add deployment validation and troubleshooting documentation
  docs/deployment-validation-troubleshooting.md
Owners: @webapp-team

Update deployment docs: focus on testing flow, remove specific error examples
  docs/deployment-validation-troubleshooting.md
Owners: @webapp-team

Remove hardcoded project IDs from KCC overlays
  k8s-clean/kcc/overlays/dev/kustomization.yaml
  k8s-clean/kcc/overlays/production/kustomization.yaml
  k8s-clean/kcc/overlays/qa/kustomization.yaml
Owners: @webapp-team

Remove redundant namespace files
  k8s-clean/base/namespace.yaml
  k8s-clean/namespaces.yaml
Owners: @webapp-team

Remove environment overlays entirely - use base directly
  k8s-clean/overlays/dev/kustomization.yaml
  k8s-clean/overlays/preview/kustomization.yaml
  k8s-clean/overlays/production/kustomization.yaml
  k8s-clean/overlays/qa/kustomization.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Remove KCC overlays - use base certificate template directly
  k8s-clean/kcc/overlays/dev/kustomization.yaml
  k8s-clean/kcc/overlays/preview/kustomization.yaml
  k8s-clean/kcc/overlays/production/kustomization.yaml
  k8s-clean/kcc/overlays/qa/kustomization.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Remove KCC overlays - use base certificate template directly (#160)
  k8s-clean/kcc/overlays/dev/kustomization.yaml
  k8s-clean/kcc/overlays/preview/kustomization.yaml
  k8s-clean/kcc/overlays/production/kustomization.yaml
  k8s-clean/kcc/overlays/qa/kustomization.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Restructure k8s directory and implement resource profiles
  clouddeploy-dev.yaml
  clouddeploy-preview.yaml
  clouddeploy-qa-prod.yaml
  k8s-clean/profiles/dev/kustomization.yaml
  k8s/app/base/deployment.yaml
  k8s/app/base/httproute.yaml
  k8s/app/base/kustomization.yaml
  k8s/app/base/network-policy.yaml
  k8s/app/base/pod-disruption-budget.yaml
  k8s/app/base/service.yaml
  k8s/app/resources/horizontal-pod-autoscaler.yaml
  k8s/app/resources/preprod.yaml
  k8s/app/resources/preview.yaml
  k8s/app/resources/prod.yaml
  k8s/gcp/certificate.yaml
  k8s/namespace/namespace.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Fix: Move resource profiles to proper kustomization structure
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/horizontal-pod-autoscaler.yaml
  k8s/app/resources/prod/kustomization.yaml
Owners: @webapp-team, @platform-team, @security-team

Restructure k8s directory and implement resource profiles (#161)
  clouddeploy-dev.yaml
  clouddeploy-preview.yaml
  clouddeploy-qa-prod.yaml
  k8s-clean/profiles/dev/kustomization.yaml
  k8s/app/base/deployment.yaml
  k8s/app/base/httproute.yaml
  k8s/app/base/kustomization.yaml
  k8s/app/base/network-policy.yaml
  k8s/app/base/pod-disruption-budget.yaml
  k8s/app/base/service.yaml
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/horizontal-pod-autoscaler.yaml
  k8s/app/resources/prod/kustomization.yaml
  k8s/gcp/certificate.yaml
  k8s/namespace/namespace.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix resource profiles - use hardcoded values instead of parameters
  clouddeploy-dev.yaml
  clouddeploy-preview.yaml
  clouddeploy-qa-prod.yaml
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix resource profiles - use hardcoded values instead of parameters (#162)
  clouddeploy-dev.yaml
  clouddeploy-preview.yaml
  clouddeploy-qa-prod.yaml
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix kustomize resource profiles - include base resources
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix kustomize resource profiles - include base resources (#163)
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix duplicate resources key in prod kustomization
  k8s/app/resources/prod/kustomization.yaml
Owners: @platform-team, @security-team, @webapp-team

Fix Skaffold configs - move manifests into profiles
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Fix Skaffold configs - move manifests into profiles (#164)
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Add unified Skaffold configuration with proper profiles
  skaffold.yaml
Owners: @devops-team, @webapp-team

Switch to unified Skaffold configuration
  scripts/deploy.sh
Owners: @webapp-team

Use patchesJson6902 for backward compatibility with older kustomize
  -
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix resource profiles using labelSelector targeting
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix kustomize patches by using labelSelector instead of name
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
Owners: @webapp-team, @platform-team, @security-team

Fix resource profiles with labelSelector and hardcoded values
  clouddeploy-dev.yaml
  clouddeploy-preview.yaml
  clouddeploy-qa-prod.yaml
  k8s/app/resources/preprod/kustomization.yaml
  k8s/app/resources/preview/kustomization.yaml
  k8s/app/resources/prod/kustomization.yaml
  skaffold-dev.yaml
  skaffold-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team, @platform-team, @security-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team
