Repository u2i/webapp-team-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @webapp-team, @platform-team, @security-team, @compliance-team, @devops-team

.github/CODEOWNERS:

# Code Owners for webapp-team repository
# ISO 27001/SOC 2 compliance requires proper code review

# Default owners for everything
* @webapp-team

# Infrastructure changes require platform team review
infrastructure/ @platform-team @webapp-team
k8s-infra/ @platform-team @webapp-team
clouddeploy.yaml @platform-team @webapp-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @webapp-team
configs/prod.yaml @security-team @webapp-team
k8s-manifests/*security* @security-team @webapp-team
k8s-infra/*security* @security-team @webapp-team

# Compliance-related changes require compliance team review
**/compliance/ @compliance-team @webapp-team
configs/ @compliance-team @webapp-team

# Production configurations require additional oversight
configs/prod.yaml @platform-team @security-team @webapp-team
**/prod/ @platform-team @security-team @webapp-team

# CI/CD pipeline changes require DevOps review
.github/workflows/ @devops-team @security-team @webapp-team
skaffold.yaml @devops-team @webapp-team

# Documentation changes
README.md @webapp-team
docs/ @webapp-team

Add impersonation test before Cloud Deploy release (#118)
  scripts/deploy-qa.sh
Owners: @webapp-team

Fix Cloud Deploy YAML structure
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Fix Cloud Deploy YAML structure (#119)
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Use nonprod service account for prod target deployment
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Use nonprod service account for prod target deployment (#120)
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Fix multi-stage pipeline skaffold configuration
  scripts/deploy-qa.sh
  skaffold-qa-prod.yaml
Owners: @webapp-team

Fix multi-stage pipeline skaffold configuration (#121)
  scripts/deploy-qa.sh
  skaffold-qa-prod.yaml
Owners: @webapp-team

Fix skaffold configuration to match existing pattern
  skaffold-qa-prod.yaml
Owners: @webapp-team

Fix skaffold configuration to match existing pattern (#122)
  skaffold-qa-prod.yaml
Owners: @webapp-team

Add missing PodDisruptionBudget for production
  k8s-clean/base/pod-disruption-budget.yaml
Owners: @webapp-team

Add missing PodDisruptionBudget for production (#123)
  k8s-clean/base/pod-disruption-budget.yaml
Owners: @webapp-team

Fix production deployment configuration
  clouddeploy-qa-prod.yaml
  k8s-clean/overlays/production-gateway/kustomization.yaml
  k8s-clean/overlays/production-gateway/replicas-patch.yaml
  scripts/deploy-qa.sh
Owners: @webapp-team

Fix production deployment configuration (#124)
  clouddeploy-qa-prod.yaml
  k8s-clean/overlays/production-gateway/kustomization.yaml
  k8s-clean/overlays/production-gateway/replicas-patch.yaml
  scripts/deploy-qa.sh
Owners: @webapp-team

Remove production replicas patch
  k8s-clean/overlays/production-gateway/kustomization.yaml
  k8s-clean/overlays/production-gateway/replicas-patch.yaml
Owners: @webapp-team

Remove production replicas patch (#125)
  k8s-clean/overlays/production-gateway/kustomization.yaml
  k8s-clean/overlays/production-gateway/replicas-patch.yaml
Owners: @webapp-team

Fix YAML indentation and production NAME_PREFIX
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Fix YAML indentation and production NAME_PREFIX (#126)
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Fix prod cluster name in Cloud Deploy configuration
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Test deployment pipeline cleanup
  README.md
Owners: @webapp-team

Remove unused Cloud Deploy configurations
  clouddeploy-3stage.yaml
  clouddeploy-single-stage.yaml
Owners: @webapp-team

Fix Config Connector namespace annotations
  k8s-clean/namespace/namespace-nonprod.yaml
  k8s-clean/namespace/namespace-prod.yaml
  skaffold-dev-deploy.yaml
  skaffold-gateway-preview.yaml
  skaffold-qa-prod.yaml
Owners: @webapp-team

Use preview-specific namespace with Config Connector annotation
  skaffold-preview-deploy.yaml
Owners: @webapp-team

Fix BOUNDARY environment variable to use parameter substitution
  k8s-clean/base/deployment.yaml
Owners: @webapp-team

Fix production SERVICE_NAME to match actual service name
  clouddeploy-qa-prod.yaml
Owners: @webapp-team

Fix preview namespace labels to use standard parameters
  k8s-clean/overlays/preview-gateway/namespace.yaml
Owners: @webapp-team

Fix BOUNDARY environment variable for production deployments (#131)
  clouddeploy-qa-prod.yaml
  k8s-clean/base/deployment.yaml
  k8s-clean/overlays/preview-gateway/namespace.yaml
Owners: @webapp-team

Fix HTTPRoute SERVICE_NAME parameter substitution
  k8s-clean/overlays/dev-gateway/gateway-resources.yaml
  k8s-clean/overlays/production-gateway/gateway-resources.yaml
  k8s-clean/overlays/qa-gateway/gateway-resources.yaml
Owners: @webapp-team

Fix HTTPRoute SERVICE_NAME parameter substitution (#132)
  k8s-clean/overlays/dev-gateway/gateway-resources.yaml
  k8s-clean/overlays/production-gateway/gateway-resources.yaml
  k8s-clean/overlays/qa-gateway/gateway-resources.yaml
Owners: @webapp-team

Fix deploy parameter syntax to match Cloud Deploy documentation
  k8s-clean/base/service.yaml
  k8s-clean/overlays/dev-gateway/gateway-resources.yaml
  k8s-clean/overlays/production-gateway/gateway-resources.yaml
  k8s-clean/overlays/qa-gateway/gateway-resources.yaml
Owners: @webapp-team

Fix preview HTTPRoute to use SERVICE_NAME parameter consistently
  k8s-clean/overlays/preview-gateway/gateway-resources.yaml
Owners: @webapp-team

Fix deploy parameter syntax for proper substitution (#133)
  k8s-clean/base/service.yaml
  k8s-clean/overlays/dev-gateway/gateway-resources.yaml
  k8s-clean/overlays/preview-gateway/gateway-resources.yaml
  k8s-clean/overlays/production-gateway/gateway-resources.yaml
  k8s-clean/overlays/qa-gateway/gateway-resources.yaml
Owners: @webapp-team

Make production deployment consistent with QA
  k8s-clean/overlays/production-gateway/kustomization.yaml
Owners: @webapp-team

Make production deployment consistent with QA (#134)
  k8s-clean/overlays/production-gateway/kustomization.yaml
Owners: @webapp-team

Test: Re-add PodDisruptionBudget to production to reproduce certificate timeout
  k8s-clean/overlays/production-gateway/kustomization.yaml
Owners: @webapp-team

Test: Re-add PodDisruptionBudget to production to reproduce certificate timeout (#135)
  k8s-clean/overlays/production-gateway/kustomization.yaml
Owners: @webapp-team

Split Skaffold configs to avoid Config Connector status checking bug
  clouddeploy-qa-prod-split.yaml
  k8s-clean/kcc/overlays/preview-gateway/certificate-resources.yaml
  k8s-clean/kcc/overlays/preview-gateway/kustomization.yaml
  k8s-clean/kcc/overlays/production-gateway/certificate-resources.yaml
  k8s-clean/kcc/overlays/production-gateway/kustomization.yaml
  k8s-clean/kcc/overlays/qa-gateway/certificate-resources.yaml
  k8s-clean/kcc/overlays/qa-gateway/kustomization.yaml
  k8s-clean/overlays/preview-gateway/kustomization.yaml
  k8s-clean/overlays/production-gateway/kustomization.yaml
  k8s-clean/overlays/qa-gateway/kustomization.yaml
  skaffold-preview-deploy-split.yaml
  skaffold-prod-deploy-split.yaml
  skaffold-qa-deploy-split.yaml
  skaffold.yaml
Owners: @webapp-team, @devops-team

Add dev environment support and update deployment scripts
  k8s-clean/kcc/overlays/dev-gateway/certificate-resources.yaml
  k8s-clean/kcc/overlays/dev-gateway/kustomization.yaml
  k8s-clean/overlays/dev-gateway/kustomization.yaml
  scripts/deploy-dev.sh
  scripts/deploy-preview.sh
  scripts/deploy-qa.sh
  skaffold-dev-deploy-split.yaml
  skaffold.yaml
Owners: @webapp-team, @devops-team

Fix split Skaffold configuration structure
  skaffold.yaml
Owners: @devops-team, @webapp-team

Use explicit module selection in deployment scripts
  scripts/deploy-dev.sh
  scripts/deploy-preview.sh
  scripts/deploy-qa.sh
Owners: @webapp-team

Fix Skaffold configuration to work with Cloud Deploy
  scripts/deploy-dev.sh
  scripts/deploy-preview.sh
  scripts/deploy-qa.sh
  skaffold.yaml
Owners: @webapp-team, @devops-team
